
// COLORS
    $color-darkgreen: #569671;
    $color-green: #99E2D0;
    $color-white: #ffffff;
    $color-purple: #9356dc;
    $color-pink: #FF79DA;
    $color-green: #99E2D0;
    $color-grey: darkgrey;
    $backgrey: #f3f3f3;
    $color-darkgrey: rgb(97, 96, 96);
    $color-footer: #303030;



