// COLORS
$color-darkgreen: #569671;
$color-green: #99e2d0;
$color-white: #ffffff;
$color-purple: #9356dc;
$color-pink: #ff79da;
$color-green: #99e2d0;
$color-grey: darkgrey;
$backgrey: #f3f3f3;
$color-darkgrey: rgb(97, 96, 96);
$color-footer: #303030;

// ANIMATION
$animation-duration: 1.5s;
