// IMPORT VARIABLES
@import '_variable.scss';

// IMPORT MIXINS
@import '_mixins.scss';

* {
    box-sizing: border-box;
    font-family: Roboto ,sans-serif;
    margin: 0;
    padding: 0;
}

// HEADER
.header {
    padding: 16px;
    @include bot-boxshadow($color: $color-grey);
    position: relative;
    z-index: 1000;
    
    &--logo{
        text-align: center;
        font-family: Shrikhand, sans-serif;
    }
}
.geo-loc {
    @include flex-top;
    padding: 20px 16px;
    background-color: $backgrey;

    &--text{
        font-size: 18px;
        font-weight: bold;
    }
}
.top-bar{
    @include flex-top;
    flex-direction: column;
    @include padding-32-16;
    &--text{
        text-align: center;
    }
    &--button{
        @include button-purple;
    }
}
.nav-bar{
    @include padding-32-16;
    flex-direction: column;
    &--text{
        padding: 0 16px 32px;
    }
    ol{
        @include flex-top;
        flex-wrap: wrap;
        align-items: center;
    
        list-style: none;
        counter-reset: compteList;
    }
        &--list{
            width: 28%;
            margin: 0px 0px 0px 32px;
            padding: 16px;
            box-shadow: 1px 5px 11px 0px $color-grey;
            border-radius: 16px;
            position: relative;
            @include responsive-list;
            &::before {
                counter-increment: compteList 1;
                content: counter(compteList) " ";
                background: #9356dc;
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                position: absolute;
                left: -14px;             
            }
            }
            i{
                margin: 0px 16px;
            }
            
        
}

