<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants "À la française" - ohmyfood</title>

    <!-- INTERNAL LINK  -->
    <link rel="stylesheet" href="../css/prefixed/styles.css" />

    <!-- EXTERNAL LINK -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7e78c1c0dd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header-page">

      <!-- LOGO -->
        <a href="../index.html" class="header-page--logo"><i class="fa-solid fa-arrow-left"></i></a>
        <h1 class="header-page--logo">
        <a class="header-page--logo" href="../index.html">ohmyfood</a>
      </h1>
    </header>
    <main>
      <div class="background-img">
        <img
          src="../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
          alt=""
        />
      </div>
      <section class="menu">
        <div class="menu--contenair">
          <div class="menu--div">
            <h2 class="menu--title">À la française</h2><div class="heart"><i class="fa-regular fa-heart" aria-hidden="true"></i><i class="fa-solid fa-heart" aria-hidden="true"></i></div>
          </div>
          <div class="menu--entry">
            <div class="menu--column">
              <h3 class="menu--text">ENTRÉES</h3>
              <div class="menu--animation">
                <div class="menu--card delay-1">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Tartare de poulpe acidulé</h4>
                  <p>Aux zests d'orange</p></div><div class="menu--price">25€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
                <div class="menu--card delay-2">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Velouté de légumes d'antan</h4>
                  <p>Carotte, panais, topinambour</p></div><div class="menu--price">35€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
                <div class="menu--card delay-3">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Soupe à l'oignon</h4>
                  <p>Revisitée</p></div><div class="menu--price">20€</div>
                  </div>
                  <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
                </div>
              </div>
            </div>
            <div class="menu--column">
              <h3 class="menu--text">PLATS</h3>
              <div class="menu--animation">
                <div class="menu--card delay-4">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Coquilles Saint-Jacques</h4>
                  <p>Accompagnées d'une purée de panais</p></div><div class="menu--price">40€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
                <div class="menu--card delay-5">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Magret de canard</h4>
                  <p>Et parmentier de pommes de terres</p></div><div class="menu--price">35€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
                <div class="menu--card delay-6">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Pigeonneau d'Ille-et-Villaine</h4>
                  <p>Sur son lite de gnocchis aux légumes</p></div><div class="menu--price">20€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
              </div>
            </div>
            <div class="menu--column">
              <h3 class="menu--text">DESSERTS</h3>
              <div class="menu--animation">
                <div class="menu--card delay-7">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Pétales de violettes glacés</h4>
                  <p>Et purée de noisettes</p></div><div class="menu--price">18€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
                <div class="menu--card delay-8">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Fondant au chocolat</h4>
                  <p>Revisité</p></div><div class="menu--price">22€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
                <div class="menu--card delay-9">
                  <div class="menu--card-row">
                    <div class="menu--card-column">
                  <h4>Millefeuille croustillant</h4>
                  <p>Myrthilles et pâte d'amande</p></div><div class="menu--price">23€</div>
                </div>
                <div class="menu--item"><i class="fa-check fas menuItem__icon"></i></div>
              </div>
              </div>
            </div>
            <div class="menu--center"><button class="top-bar--button">Commander</button></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <ul class="footer--ul">
        <li><h3 class="footer--logo">ohmyfood</h3></li>
        <li class="footer--list"><a href="" class="footer--link"><i class="fa-solid fa-utensils"></i>Proposer un restaurant</a></li>
        <li class="footer--list"><a href="" class="footer--link"><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</a></li>
        <li class="footer--list"><a href="" class="footer--link">Mentions légales</a></li>
        <li class="footer--list">
          <a
            href="mailto:contact@ohmyfood.com?subject=Demande de contact via le site Ohmyfood&amp"
            class="footer--link"
            >Contact</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
