<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants "La palette du goût" - ohmyfood</title>
    
    <!-- INTERNAL LINK  -->
    <link rel="stylesheet" href="../css/styles.css" />

    <!-- EXTERNAL LINK -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7e78c1c0dd.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header class="header">
      
        <!-- LOGO -->
        <h1 class="header--logo">ohmyfood</h1>
      </header>
    
</body>
</html>
  